In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
unique_players = len(set(purchase_data.iloc[0:,1]))

table = {'Total Players': unique_players}
print_table = pd.DataFrame(table, columns=['Total Players'], index=[0])
print_table

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
group = purchase_data.groupby('Item Name').Price.sum()
total_items = len(group)
total_revenue = sum(group)
average_price = purchase_data.Price.mean()
total_purchases = purchase_data.Price.count()

analysis_table = {
    'Number of Unique Items': total_items,
    'Average Price': average_price,
    'Number of Purchases': total_purchases,
    'Total Revenue': total_revenue
}

display_table = pd.DataFrame(analysis_table, columns=['Number of Unique Items',
    'Average Price',
    'Number of Purchases',
    'Total Revenue'],index=[0])
display_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gender_reveal = purchase_data.groupby('Gender')

unique_gender = gender_reveal['SN'].nunique()

percentage = ((unique_gender/unique_gender.sum()) * 100)

df = {
    'Total Count': unique_gender,
    'Percentage of Players': percentage
}

print_df = pd.DataFrame(df)
print_df

                       Total Count  Percentage of Players
Gender
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [40]:
genders = purchase_data.groupby('Gender')
count = len(purchase_data['SN'].value_counts())

# set variables to calculate
purchase_gender = genders.count()['Price']
average_purchase = (genders['Price'].mean()).map('${:.2f}'.format)
total_purchase = purchase_data.groupby(['Gender']).sum()['Price']
avg_total_person = total_purchase/print_df['Total Count']

# make df
purchase_analysis_df = pd.DataFrame({
    'Purchase Count': purchase_gender,
    'Average Purchase Price': average_purchase,
    'Total Purchase Value': total_purchase,
    'Avg Total Purcahse per Person': avg_total_person
})

# round to 2 decimals
purchase_analysis_df = purchase_analysis_df.round(2)

# print df
purchase_analysis_df.sort_index()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purcahse per Person
Gender,,,,
Female,113,$3.20,361.94,4.47
Male,652,$3.02,1967.64,4.07
Other / Non-Disclosed,15,$3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
users = purchase_data.loc[:, ['SN','Age','Gender']]
users = users.drop_duplicates()

# Create age bins
age_bin = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 999]
bin_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Separate players in bins
users['Age Ranges'] = pd.cut(users['Age'], age_bin, labels = bin_labels)

# Calculate
demo_totals = users['Age Ranges'].value_counts()
demo_percents = (demo_totals / count) * 100

# Create df
demo_df = pd.DataFrame({'Total Count': demo_totals,
                       'Percentage of Players': demo_percents})

# Round to 2 decimals
demo_df = demo_df.round(2)

# Print df
demo_df.sort_index()

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [39]:
#create df basesd on age and price
users_price = purchase_data.loc[:, ['SN','Age','Price']]


# create bins
age_bin = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 999]
bin_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# separate players in bins
users_price['Age Ranges'] = pd.cut(users_price['Age'], age_bin, labels = bin_labels)

# calculate
purchase_count = users_price['Age Ranges'].value_counts()
average_purchase_price = users_price.groupby('Age Ranges').Price.mean()
total_purchase_value = users_price.groupby('Age Ranges').Price.sum()
total_purchase_person = users_price.groupby('Age Ranges').Price.sum()/demo_totals

# make df
purchase_df = pd.DataFrame({
    'Purchase Count': purchase_count,
    'Average Purchase Price': average_purchase_price,
    'Total Purchase Value': total_purchase_value,
    'Avg Total Purchase per Person': total_purchase_person
})

# round df to 2 decimals
purchase_df = purchase_df.round(2)

# print df
purchase_df.sort_index()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [101]:
# create main df
user_spending_df = purchase_data.loc[:, ['SN','Price']]
unique_user_spending = user_spending_df.groupby('SN')

# run calculations
purchase_count = purchase_data['SN'].value_counts()
avg_purchase_price = unique_user_spending['Price'].mean().round(2)
total_purch = user_spending_df.groupby('SN').Price.sum()

# make df
spender_df = pd.DataFrame({
    'Purchase Count': purchase_count,
    'Avg Purchase Price': avg_purchase_price,
    'Total Purchase': total_purch
})

# round df to 2 decimals
spender_df.round(2)

# print df
spender_df.sort_index(ascending=False)

               Purchase Count  Avg Purchase Price  Total Purchase
Zontibe81                   3                2.68            8.03
Zhisrisu83                  2                3.94            7.89
Yoishirrala98               1                4.58            4.58
Yathedeu43                  2                3.01            6.02
Yathecal82                  3                2.07            6.22
...                       ...                 ...             ...
Aelaria33                   1                1.79            1.79
Aela59                      1                4.32            4.32
Aeda94                      1                4.91            4.91
Adastirin33                 1                4.48            4.48
Adairialis76                1                2.28            2.28

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [144]:
# make df
group_items = purchase_data.groupby(['Item ID','Item Name'])


# run calculations
purchase_count = group_items['Item ID'].count()
item_price = (total_purchase_value/purchase_count)
total_purchase_value = group_items['Price'].sum()


# make df
popular_items_df = pd.DataFrame({
    'Purchase Count': purchase_count,
    'Item Price': item_price,
    'Total Purchase Value': total_purchase_value
})

# print df
popular_items_df.head()

                            Purchase Count  Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4      1.2800                  5.12
1       Crucifer                         4      2.9425                 11.77
2       Verdict                          6      2.4800                 14.88
3       Phantomlight                     6      2.4900                 14.94
4       Bloodlord's Fetish               5      1.7000                  8.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [152]:
# make df
group_items = purchase_data.groupby(['Item ID','Item Name'])


# run calculations
purchase_count = group_items['Item ID'].count()
item_price = (total_purchase_value/purchase_count)
total_purchase_value = group_items['Price'].sum()


# make df
popular_items_df = pd.DataFrame({
    'Purchase Count': purchase_count,
    'Item Price': item_price,
    'Total Purchase Value': total_purchase_value
})

# print df
popular_items_df.sort_values('Total Purchase Value',ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80